<form>
    <br>
    <div class="form-group">
        <input type="text" id="SearchText"  placeholder="Search for a course" class="search" name="course_title">
        <button type="submit" class="btn btn-default"> Search </button>
    </div>
</form>